<%= provide(:title, "Sign up")%>
<div class= "graybox" >
	

		<div class="signup-box thumbnail"> <div class= "signup-guy thumbnail"> <%= image_tag "picmanRweb.jpg"%></div>

			<div class="signup-h1"><h1 style= "padding-left: 45%;">Sign up</h1></div>
			
				<div class="signup">
	<%= simple_form_for @user, :validate => true  do |f| %>
	<%= f.input :name,:required => false, :input_html => { :class => "span3 font" } %>
	<%= f.input :email,:required => false,:placeholder => 'user@domain.com',
	 :input_html => { :class => "span3 font" } %>
	<%= f.input :password,:validate => false, :input_html => { :class => "span3 font" } %>
	<%= f.input :password_confirmation,:validate => false, :input_html => { :class => "span3" }  %>
	
	<%= f.submit "create my account", class: "btn btn-large btn-inverse " %>
	

	
    
		 <%end %>
		 </div>
		


	</div>


</div>
<p>Find me in app/views/users/new.html.erb</p>
