<%= provide(:title, "Sign up")%>
<div class= "graybox1" >
	
	

		<div class="signup-box thumbnail"> 
			<div>
		      <ul class="list-signup " >
		      	<h2> Why Join </h2>
		      	<li> Unlimited Uploads </li>
		      	<li> Win prize for most like pic </li>
			    <li> Host your Piks here </li>
			    <li> Google ads sharing coming soon</li>
			    <li class="signup1"> if you already Have a Account <%= link_to "login", login_path %> </li>
			    <li> And more </li>
			    
		       </ul>
	        </div>
			<div class= "signup-guy thumbnail"> 
					<%= image_tag "picmanRweb.jpg"%>
			</div>

			<div class="signup-h1">
				<h1 style= "padding-left: 45%;">Sign up</h1>
			</div>
			
				<div class="signup">
					<%= simple_form_for @user, :validate => true  do |f| %>
					<%= f.input :name,:required => false, :input_html => { :class => "span3 font" } %>
					<%= f.input :email,:required => false,:placeholder => 'user@domain.com',
	 					:input_html => { :class => "span3 font" } %>
					<%= f.input :password,:validate => false, :input_html => { :class => "span3 font" } %>
					<%= f.input :password_confirmation,:validate => false, :input_html => { :class => "span3" }  %>
	
					<%= f.submit "Create my Account", class: "btn btn-large btn-inverse " %>

		 			<%end %>
		 
		 		</div>
		
			

		</div>

		<div class="cat-showad">
    
  		   </div>
	</div>




