<% @title = @user.name.capitalize %>
<div class="profile">
	<div class="cat-showad2">
    <script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam */
google_ad_slot = "9765718544";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>
	<div class= "profile-box">
		<div class="photo-count">
			<div class="ph">
			<p class="photo_counter"><%= @user.uploads.count %></p>
			<p class="photo_name">Photos</p>
			</div>
			<div class="l_h">
		<p class="photo_counter"><%= @user.flaggings.count %></p>
		<p class ="photo_name">Like/Hate</p>
		</div>
		</div>
		
		<div class="my_nav">
			<ul>
				<li class="link_change"><%= link_to "MY Pics", "" %></li>
				<li class="link_change"><%= link_to "MY Fav", "" %></li>

			</ul>

		</div>

		<div class="ajax_pics">
		<%= render "user_pics" %>
		</div>

		<h1>
			<%= @user.name.capitalize %>'s Photos 
		</h1> 
		<p>

		</p>
		<%= user_profile_pics %>
		<h4>
			Joined <%= l @user.created_at, :format => :long %>
		</h4>
	
	
		<div class="profile-font"> 
		 <b>facebook link: <a href="<%=@user.facebook_link %>" target="_blank"><%=@user.facebook_link%></a></b><br><br>
		 <b>website link: <a href="<%= @user.website_link %>" target="_blank"><%=@user.website_link %></a></b>

		</div>
		
		<div class="black-line">
		</div>
		
		<div class= "bio-box">
		 <h3>Bio:</h3>
		 	<p>
			 <%= @user.bio %>
			</p>
		</div>
			<div class="user-showad">
    			<script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam 300x250 */
google_ad_slot = "6391302218";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
 		 </div>
	</div>
	
</div>
<diV>
<div class="idk">

	
	<% if facebook_token %>
	 <%= image_tag(@profile_image) %>
	 <%= @fbprofile %>
	 <%# @friends %>
	 <%# @wall %>
	 <%# @pic %>

	 <% else %>
	 
	 <% end %>

	 </div>
</div>