<% @title = @user.name.capitalize %>
<div class="user-pro" style="margin-top: 87px;">
<h3 style="margin-top: 48px;">
			<%= @user.name.capitalize %>'s Photos
		</h3> 
		<p>

		</p>
		<%= user_profile_pics %>
		<h5>
			Joined <%= l @user.created_at, :format => :long %>
		</h5>
		<div class="profile-font"> 
		 <b>facebook link: <a href="<%=@user.facebook_link %>" target="_blank"><%=@user.facebook_link%></a></b><br><br>
		 <b>website link: <a href="<%= @user.website_link %>" target="_blank"><%=@user.website_link %></a></b>

		</div>
		<div class= "bio-box">
		 <h3>Bio:</h3>
		 	<p>
			 <%= @user.bio %>
			</p>
		</div>
			<div class="user-showad">
    		
 		 </div>
</div>
<div class="profile">
	<div class="list-more" style="z-index: 0; margin-top: 17px;">
		<div class="navme2">
			<ul class="clirle-nav ">
				<!--<h2 class="browse-more " >Browse more Pics</h2>-->

				<li><%= link_to "COOL_PICS", "http://www.pikcam.com/categories/the-coolest-pics", :class => "clirlink" %></li>
				<li><%= link_to "SPORTS", "http://www.pikcam.com/categories/what-happen-to-you", :class => "clirlink" %></li>
				<li><%= link_to "HUMOROUS", "http://www.pikcam.com/categories/this-is-crazy-funny", :class => "clirlink" %></li>
				<li><%= link_to "WTF", "http://www.pikcam.com/categories/what-the-hell-man", :class => "clirlink" %></li>
				<li><%= link_to "HOTTIES", "http://www.pikcam.com/categories/hot-ass-girls", :class => "clirlink" %></li>
				<li><%= link_to "ANIMALS", "http://www.pikcam.com/categories/crazy-animals", :class => "clirlink" %></li>
				<li><%= link_to "VIDEOS", funny_videos_url, :class => "clirlink" %></li>

			</ul>
		</div>
	</div>
	<div class="row" style="margin-top: 54px;">
<div class="user-contents">


	<div class="cat-showad2">
    
  </div>
  <%# @score.each do |u| %>
  <%# u%>
  <%# end %>
  
	<div class= "profile-box">
		<div class="photo-count">
			<div class="ph">
			<p class="photo_counter"><%= @user.uploads.count %></p>
			<p class="photo_name">Photos</p>
			</div>
			<div class="l_h">
		<p class="photo_counter"><%= @user.flaggings.count %></p>
		<p class ="photo_name">Saved Pics</p>
		</div>
		</div>
		
		<div class="my_nav">
			<ul>
				<li class="link_change"><%= link_to "MY Pics", "" %></li>
				<li class="link_change"><%= link_to "MY Fav", ""  %></li>

			</ul>

		</div>

		<div class="ajax_pics">
		<%= render("user_pics") %>
		</div>
		</div>

		
		
	</div>
	
</div>
</div>
</div>
<div class="idk">

	
	<%# if facebook_token %>
	 <%# image_tag(@profile_image) %>
	 <%# @fbprofile %>
	 <%# @friends %>
	 <%# @wall %>
	 <%# @pic %>

	 <%# else %>
	 
	 <%#end %>

	 </div>
</div>