<% @title = 'Cool Pics of anything ' %>
<div class= "graybox" >
  <div class="mainbox">
    <div class="ad-home">
      <script type="text/javascript"><!--
       google_ad_client = "ca-pub-3387068696014466";
        /* pik-cam large 336x280 */
       google_ad_slot = "4368008933";
       google_ad_width = 336;
        google_ad_height = 280;
         //-->
      </script>
     <script type="text/javascript"
       src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
     </script>
    </div>
  

   <%= render "uploads/form" %>
   <div class="home-list">
   <%  Category.home_random.each do |user| %>
      
          <ul class="home-box">
            <li><H3 class="cat-name"><%= link_to user.name , user %></H3></li>
          </ul>
        <% end %>
      </div>
  <div class="top-share">
    <div class="slider-wrapper theme-default">
      <div id="slider" class="nivoSlider">
        <% @uploads_slideshow.each do |ups| %>
        <%= link_to image_tag(ups.picture.url(:large), :alt => ups.title, :title => ups.title ), ups   %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
  
  <!--<div class= "top-photo">
    <%# link_to image_tag( "donloren.png"), "http://www.donloren.com", :target => "_blank" %>
  </div>-->
  <div class="mainbox2">
	  <div class="home-category">
  
			<!--<p class="top-5">
        <b>Random 5 categories</b>
      </p>-->

			
      <div class="top-photos">
        <h3>Recent add Pictures</h3>
        <% @uploads.each do |uploads| %>
          <div class="uploads-border">
            <%= link_to image_tag(uploads.picture.url(:thumb), :alt => uploads.title, :title => uploads.title, :style =>"height: 110px; width: 149px;" ), uploads %>
          </div>
        <% end %>
      </div>
      <div class="bottom_pfg">
        <!-- Place this tag where you want the badge to render. -->
        <div class="g-plus" data-height="69" data-href="//plus.google.com/103812452465040044420?rel=publisher"></div>

        <!-- Place this tag after the last badge tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        <div class="fb-like" data-href="http://www.facebook.com/pikcam" data-send="true" data-width="300" data-show-faces="true">
        
	     </div>
        <p class="homep"> Pic cam, A website where you can share & find cool pics of just about anything lol. We also have 
         humorous / funny pictures, strange pictures, gif and more. Oh! I can forget pics of women... hope you enjoy the funny pics we have   <%= link_to "strange", "http://www.pikcam.com/categories/Strange" %> <%= link_to "humorous", "http://www.pikcam.com/categories/Humorous" %> <%= link_to "gif", "http://www.pikcam.com/categories/Gif_animation" %> 
        </p>
        <div class="our-link">
          <h4> Our friends </h4>
          <ul>
            <li><a href="http://www.donloren.com/">Donloren</a></li>
            <li><a href="http://www.webgames247.net" target="_blank">Web Games 24/7</a></li>

          </ul>
          <a href="/link-up">add your site to our friends list</a>

        </div>
      </div>
     </div>
    </div>
  <div class="ad-bottom">
  <div class="ad-bottom-home5">
    <script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam */
google_ad_slot = "9765718544";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>

  
  </div>
</div>

<div class="addthis_toolbox addthis_default_style">
  <a class="addthis_button_google_plusone"></a> 
  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div> 
 
 