$(".upload<%= session[:return_to].id %> >  span:first ").html("<%=  session[:return_to].votes_for %>Likes");
$(".upload<%= session[:return_to].id %> > .home-plusmius > h3 ").html("<%=  session[:return_to].plusminus %>");
$(".upload<%= session[:return_to].id %> >  span:last ").html("<%=  session[:return_to].votes_against %> Dislikes");

<% flash.each do |key, value| %>
 $(".userhome-pro").prepend("<div class='alert alert-<%= key %>'><%= value %></div>").end().find(".alert").delay(1800).fadeOut(400);
 <% end %>
 