<% @title = "link up" %>
	<% if current_user.present? %>
	<% if current_user.admin? %>
          	<div>
          		<%= form_for @link do |f| %>
          		<span>site title</span>
          		<%= f.text_field :title %>
          		<span>site url</span>
          		<%= f.text_field :site %>
          		<%= f.submit "Add link" %>
          		<% end %>
          	</div>
	<% end %>
	<% end %>

<div class="link-up-main">

<p>Copy the following html-code and paste into your page</p>
<input value='<a href="http://www.pikcam.com" target="_blank">Humorous Pics</a>'>
<b>and email us ur information</b> <%= link_to "context us", contact_path %>

</div>