<div class="files"> 
  <div class="loading">
    <p style="margin-bottom: 0px;"><b>Pics Saving</b></p>
    <%= image_tag("ajax-loader.gif") %>
  </div>
    <%= form_for @upload, :html => { :class => "upload home-up", :multipart => true } do |f| %>
    <% @upload.errors.full_messages.each do |msg| %>
      <p class="upload-errors"><%= msg %></p>
    <% end %>
    <%= f.label :caption, :class => "inlinefrom" %>
    <%= f.text_field :title  %>
    <%= f.label :Categories, :class => "inlinefrom" %>
    <%= f.collection_select :category_ids, Category.order(:name), :id, :name, {}, {multiple: true} %>
    <%= f.file_field :picture, :class => "ups" %>
    <div class="home-private">
    <%= f.check_box :private, :default => false %>
    <%= f.label :For_private, :class =>"label-private" %>
    <p>Only you and whoever you share the link with can see this image</p>
    
    
    
   </div>
    
    <div class="inlinefrom2">
   <%= f.submit "Upload Now!", class: "btn btn-large btn-inverse " %>
   </div>
   <div class="inlinefrom">
    <p style="width: 400px; margin: 5px 0px -15px 0px; ">
    By clicking the Upload button, you indicate that you have read and agreed to the Pikcam <a href="/terms">Terms</a>  of Use and <a href="/Privacy">Privacy Policy</a>.
    </p>
    </div>
    <% end %>
  </div>