<% @title = @upload.title %>

			<div class="jointous"><h5> join to like and dis like pictures and save pictures to your Favs !!</h5> <li class="facebook"><%= link_to image_tag("facebook-login.png", :alt => "facebook sign"), "http://www.pikcam.com/auth/facebook"%></li></div>

<div class="upload-bacgraound">
<div class="up-ad" style="margin: 0px auto;">
				<a href='http://trkur.com/trk?o=8429&p=131385&s1=&s2=&s3='><img src='http://pixxur.com/131385/47222-728x90.gif&s1=&s2=&s3=' /></a>
				</div>
	
	<div class="list-more" >
		<div class="navme2">
			<ul class="clirle-nav ">
				<!--<h2 class="browse-more " >Browse more Pics</h2>-->

				<li><%= link_to "COOL_PICS", "http://www.pikcam.com/categories/the-coolest-pics", :class => "clirlink" %></li>
				<li><%= link_to "SPORTS", "http://www.pikcam.com/categories/what-happen-to-you", :class => "clirlink" %></li>
				<li><%= link_to "HUMOROUS", "http://www.pikcam.com/categories/this-is-crazy-funny", :class => "clirlink" %></li>
				<li><%= link_to "WTF", "http://www.pikcam.com/categories/what-the-hell-man", :class => "clirlink" %></li>
				<li><%# link_to "HOTTIES", "http://www.pikcam.com/categories/hot-ass-girls", :class => "clirlink" %></li>
				<li><%= link_to "ANIMALS", "http://www.pikcam.com/categories/crazy-animals", :class => "clirlink" %></li>
				<li><%= link_to "VIDEOS", funny_videos_url, :class => "clirlink" %></li>

			</ul>
		</div>
	</div>

	<div class="show-container"  >

		
		<div class="browse">
			
			<div class="next-pev">
				<ul>
					<li class="next-box"><%= link_to("Previous Pic", @upload.next_upload, :class => "")  if @upload.next_upload %></li>
					<li class="next-box"><%= link_to("Next Pic", @upload.previous_upload,:class => "") if @upload.previous_upload %></li>

				</ul>

			</div>

		</div>
		<h1 class="p-title"><%= "#{@upload.title}" %></h1>
		
		<div class="likeornotholder">
			<div class="likeit">
				<%= toggle_currentuser(@upload) %></div>
			<div class="plusminus"><h3><%= @upload.plusminus %></h3></div>
			<div class="hateit ">
				<%= toggle_currentuserhate(@upload)%></div>
			</div>
		<div class="upload-show">
			
			<%= link_to image_tag(@upload.picture.url(:large), :alt => @upload.title, :title => @upload.title ), @upload.picture.url, :class => "displayed" %>

		</div>

		<div class="side-bar">
			<a href='http://trkur.com/trk?o=5916&p=131385&s1=&s2=&s3='><img src='http://pixxur.com/131385/28287-300x300.jpg&s1=&s2=&s3=' /></a>
			<div class="twopics">
				<div class="black-sqft"><h2> humorous & cool photos </h2>
					<div style="width: 320px;"><% @uploads.map do |upload| %>
			<table class="browse-show">
				<tr>
				<td ><%= link_to image_tag(upload.picture.url(:thumb), :alt => upload.title, :title => upload.title), upload,{:class => "img_user"}  %></td>
				</tr>
				<tr class="showpageuploadrow">
				<td class="for-font"><%= link_to truncate( upload.title, :length => 25), upload %></td>
			</tr>
			</table>
			<% end %> </div>
				</div>


			 <!-- Place this tag after the last badge tag. -->
				    <script type="text/javascript">
				        (function() {
				         var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				          po.src = 'https://apis.google.com/js/plusone.js';
				           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				          })();
				        </script>
				        

			</div>
			
			<!-- Classic, created 06/03/13 -->
			
			<!-- end -->
			<div class="ad-upload6">
				<div class="our-link">
          <h4> Blog Roll  </h4>
          <ul class= "frinds-list" style= "margin: 0px;">
            <li><a href="http://www.savemefromboredom.com/" title="save me from boredom" target="_black">save me from boredom</a>  </li>
            <br>
            <li><a href="http://www.meltedbrain.com">melted brain</a>  </li>
            <br>
            <li>
            <% links.each do |l| %>
            <a href= <%= l.site %>  target="_blank"><%= l.title %></a>  
            <% if can? :destroy, l %>
              <%= link_to "<=Destroy", l, :method => :delete, :confirm => "Are you sure" %> 
            <% end %>
            <br>
            <% end %>
            
            </li>
          </ul>
          

        </div>
			</div>
			<div id="" class="more-links2">
			<ul class="clirle-nav ">
				<li><%= link_to "picture-jokes", "http://www.pikcam.com/categories/picture-jokes" %></li>
				<li><%# link_to "lol Booty", "http://www.pikcam.com/categories/funny-or-nice-booty" %></li>
				<li><%= link_to "i can stop laughing", "http://www.pikcam.com/categories/i-can-stop-laughing" %></li>
				<li><%= link_to "funny cartoons pics", "http://www.pikcam.com/categories/funny-cartoons-pics" %></li>
				<li><%= link_to "i hate politics", "http://www.pikcam.com/categories/i-hate-politics" %></li>
				<li><%= link_to "who are celebrities", "http://www.pikcam.com/categories/who-are-celebrities" %></li>
				<li><%= link_to "that was strange", "http://www.pikcam.com/categories/that-was-strange" %></li>

			</ul>
			
		</div>
		<div class="more-links">
				<div class="getusers">
				<% if current_user %> 
     Pikcam Brings in over $1000 a month. we are looking to work with 20 dedicate people and help them bring in some extra cash we will teach you and help you all the way<b> if you want to do it and for more information  email me 
     donloreninc[at]gmail[dot]com


    <span class="st_facebook_hcount" st_url="http://www.pikcam.com" st_title="pikcam cures boredom lol" st_image= <%= Upload.first.picture.url %> st_summary=" See what your friend lookin at, pikcam A toooo funny site. so what you wait join our community  "></span>
    <span class='st_googleplus_hcount' displayText='Google +'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span>
    <% else %>
     Pikcam Brings in over $1000 a month. we are looking to work with 20 dedicate people and help them bring in some extra cash we will teach you and help you all the way<b> if you want to do it email me 
    donloreninc[at]gmail[dot]com
    <% end %>
    </div>
			</div>
			<div class="around-web">

			<div id="wahohaYgFR9b"></div>
			<script type="text/javascript" src="http://wahoha.com/widget/YgFR9b"></script><br/>

			</div>
			
			

			


			<div class="upload-side">
				<h2>Share a Pic</h2>
				<p>Direct Link for Layouts</p>
				<input value="<%=@upload.picture.url %>" />
				 <p>HTML for Websites</p> 
				 <input value="<a href='<%= upload_url %>'target='_blank'><img src='<%=@upload.picture.url %>'  alt='Uploaded on pikcam' /></a>" />
				 
			</div>
		</div>
		<div>
				<a href='http://trkur.com/trk?o=6911&p=131385&s1=&s2=&s3='><img src='http://pixxur.com/131385/35386-728x90.jpg&s1=&s2=&s3=' /></a>
				
     </div>
			<div class="share-box">

				<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox2 ">
			<span class='st_facebook_vcount' st_title="pikcam cures boredom lol" st_image= "<%= @upload.picture.url %>" st_summary=" See what your friend lookin at, <%= @upload.title %>" ></span>
			<span class='st_reddit_vcount' displayText='Reddit'></span>
			<span class='st_stumbleupon_vcount' displayText='StumbleUpon'></span>
			<span class='st_twitter_vcount' displayText='Tweet'></span>
			<span class='st_pinterest_vcount' displayText='Pinterest'></span>
			<span class='st_tumblr_vcount' displayText='Tumblr'></span>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502d791f3a21278e"></script>
			<!-- AddThis Button END -->
			

				
			
			 <p class="user-name"> Upload By: Admin_only | Date: <%= @upload.created_at.strftime("%b %d %y") %></p>
			
			 
				
			<p class= "category-nam"> 
				  <b>Categories:</b>
				</p>

				 <% @upload.categories.map do |map|  %>

				<p class= "category-namd"> 
			 <%= link_to map.name, map %> 
			</p>
			<% end %>

			<div class="likehate">
				<!--<h2 class="like"><%# @upload.flaggings.where("flag = ?", "like").count %></h2>-->
				<ul>
				<li class="coolli2"><div class="fb-like" data-href="<%= upload_url %>" data-send="true" data-layout="button_count" data-width="50" data-show-faces="false"></div></li>
				</ul>
				<% if current_user %>
				<ul>
		 		<li class= "coolli"><%= toggle_like(@upload, current_user ) %></li>
		 		</ul>
		 		<% else %>
		 		<p> <b> add cool pics to fav <%= link_to "sigin up", "/signup" %></b></p>
				<% end %>

			</div>
		</div>

		<div class="for-comment">
			<div>
<a href='http://trkur.com/trk?o=6982&p=131385&s1=&s2=&s3='><img src='http://pixxur.com/131385/36072-728x90.jpg&s1=&s2=&s3=' /></a>
</div>
			<p class="description">Description: </p>
			<p><%= @upload.description %></p>
		</div>
		<div class="edit_link">
					<% if can? :destroy, @upload %>
			  			<%= link_to "Edit", edit_upload_path(@upload) %>   
					<% end %>
					<% if can? :destroy, @upload %>
			    		<%= link_to "Destroy", @upload, :method => :delete, :confirm => "Are you sure you want to delete?" %> 
			    		<span><strong>Only you can see this</strong></span>
			  		<% end %>
			  		
			</div>
			<div class="wahohaback">
				<!-- Classic, created 06/08/13 -->

				<!-- MarketGidNews Start -->
<div id="MarketGidScriptRootN2060" class="news-block-magick">
<div id="MarketGidPreloadN2060">
<a id="mg_add2060" href="http://usr.mgid.com/demo/goods/?utm_source=widget&utm_medium=text&utm_campaign=add" target="_blank">Place your ad here</a><br> <a href="http://mgid.com/" target="_blank">Loading...</a> 
</div>
<script> 
(function(){
var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootN2060")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><body></body></ht"+"ml>");iw.close();var c=iw[b];}
catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootN2060");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=2060;c[ac](dv);
var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="http://jsn.dt07.net/p/i/pikcam.com.2060.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
</script>
</div>
<!-- MarketGidNews End -->



			<!-- Classic, created 06/08/13 -->
			<script src="http://knowd.com/w/804.js?swid=457"></script>

<!-- end -->

			</div>
			 <div id="disqus_thread" style="width: 655px; "></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'pikcam'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
 
	</div>

</div>





