<% @title = @upload.title %>
<div class="upload-bacgraound">
	<div class="list-more">
	<ul class="clirle-nav ">
		
			
			<h2 class="browse-more " >Browse more Pics</h2>
		</ul>


</div>
<div class="show-container">
<div class="up-ad">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam */
google_ad_slot = "9765718544";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<p class="p-title"><%=  @upload.title %></p>
<div class="upload-show">

<%= link_to image_tag(@upload.picture.url(:large), :alt => @upload.title, :title => @upload.title ), @upload.picture.url, :class => "displayed" %>
</div>
<div class="side-bar">
<div class="browse">
	<% @uploads.each do |upload| %>
<%= link_to image_tag(upload.picture.url(:thumb), :alt => upload.title, :title => upload.title), upload,{:class => "img_user"}  %>
<% end %>
</div>
<div class="ad-upload">
	<script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam 300x250 */
google_ad_slot = "6391302218";
google_ad_width = 300;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>

<div class="upload-side">
	<h2>Share a Pic</h2>
	<p>Direct Link for Layouts</p>
	<input value="<%=@upload.picture.url %>" />
	<p> Page url</p>
	 <input value="<%= upload_url %>"/>
	 <p>HTML for Websites</p> 
	 <input value="<a href='<%= upload_url %>'target='_blank'><img src='<%=@upload.picture.url %>'  alt='Uploaded on pikcam' /></a>" />
	 <p>URL for E-Mail & IM</p>
	 <input  value="<%= upload_url %>"  />
	 
</div>

</div>

<div class="share-box">

	<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_reddit"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502d791f3a21278e"></script>
<!-- AddThis Button END -->

<% if @upload.user.blank? %>
<p class="user-name"> Upload By: ANONYMOUS </p>
	<% else %>
 <p class="user-name"> Upload By: <%=  link_to @upload.user.name.capitalize,  @upload.user %></p>
 <% end %>
 <p class="strftime"> <b>Upload at:</b> <%= @upload.created_at.strftime("%b %d %y") %></p>
	
<p class= "category-nam"> 
	  <b>Categories:</b>
	</p>

	 <% @upload.categories.map do |map|  %>

	<p class= "category-namd"> 
 <%= link_to map.name, map %> 
</p>
<% end %>
<div class="edit_link">
		<% if can? :destroy, @upload %>
  			<%= link_to "Edit", edit_upload_path(@upload) %>   
		<% end %>
		<% if can? :destroy, @upload %>
    		<%= link_to "Destroy", @upload, :method => :delete, :confirm => "Are you sure you want to delete?" %> 
    		<span><strong>Only you can see this</strong></span>
  		<% end %>
  		
	</div>
	<div class="likehate">
		<h2 class="like"><%= @upload.flaggings.where("flag = ?", "like").count %></h2>
		<ul>
		<li class="coolli2"><div class="fb-like" data-href="<%= upload_url %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div></li>
		</ul>
		<% if current_user %>
		<ul>
 		<li class= "coolli"><%= toggle_like(@upload, current_user ) %></li>
 		</ul>
 		<% else %>
 		<p> <b>To like or hate pics <%= link_to "sigin up", "/signup" %></b></p>
		<% end %>

	</div>
</div>


<div class="for-comment">
<div id="fb-root"></div>
<script type="text/javascript">
$(document).ready(function(){
$("input").click(function() {
   $(this).select();
  }); 
</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=357983834258531";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="<%= upload_url %>" data-num-posts="8" data-width="550"></div>
</div>
</div>
<%= link_to("Previous Pic", @upload.previous_upload,:class => "pre_photo") if @upload.previous_upload %>
<%= link_to("Next Pic", @upload.next_upload, :class => "next_photo")  if @upload.next_upload %>
	
</div>



