 
<div class= " login-box thumbnail">

<h1>login</h1>
<%= simple_form_for(@user_session,:as => :user_session, :url => { :action => "create" }, :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.input :email, :placeholder => 'user@domain.com' %>
  <%= f.input :password %>
  <%= f.input :remember_me, :as => :boolean %>
  <%= f.button :submit %>
<% end %>
<div class="ad-home">
<script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam large 336x280 */
google_ad_slot = "4368008933";
google_ad_width = 336;
google_ad_height = 280;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>
</div>
