<!DOCTYPE html>
<html>
<head>
  <title><%=  full_title (yield (:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/facebooklike" %>
        
    
	<header class= "navber navber-fixed-top" >

		<div class="navbar-inner">
			<div class="containe">
			<%= link_to image_tag("pikcam-logo.png"), root_path %>
	<ul class="nave pull-right">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Explore", categories_path %></li>
		
		<% if current_user %>
			<li id="fat-menu" class="dropdown">
			<a href="#" class="dropdown" data-toggle="dropdown">Account<b class="caret"></b></a>
			<ul class= "dropdown-menu">
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Upload PiK", new_upload_url %></li>
				<li><%= link_to "settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Help", help_path %></li>

			</ul>

		<li><%= link_to "Login out", loginout_path %></li>		
		<% else %>
		<li><%= link_to "Sign up", signup_path %></li>
		<li><%= link_to "Login", login_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<% end %>

		</ul>
	</div>
</div>
	</header>

	<div class="container-fluid">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
		
		<%= yield %>

	



</div>
<footer class= "footer">
	<p class="brands"> &#169; The brands </p>
	<ul class="nve pull-lef">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Terms", terms_path %></li>
		<li><%= link_to "Privacy Policy", "/privacy" %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
	
</footer>

<%= debug(params) if Rails.env.development? %>


</body>
</html>

