<!DOCTYPE html>
<html>
<head>
  <title><%=  full_title (yield (:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class= "navber navber-fixed-top" >

		<div class="navbar-inner">
	<ul class="nave pull-right">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<li><%= link_to "sign up", signup_path %></li>
		<li><%= link_to "login", "#" %></li>

	</ul>
</div>
	</header>

	<div class="container-fluid">
		
		<%= yield %>

	

<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
