<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag  %>
	<meta name="description" content=" Pikcam the fun land, find cool pics and funny lol photos . Share pictures, Explore humorous pics, fun pics  pictures of women and lots more! Can't get enough funny and cool pictures if you bored then heres fun land">
	<meta name="alexaVerifyID" content="XTC9CpixYofHjCaJmi7o5CwcQpA" />
	<meta name="author" content="pikcam">
	<meta name="keywords" content=" pikcam, pics, pic, share, cool pics of, lol, funny, strange, gif, humorous pictures, pictures, gif pictures, picture, pics of women,  ">
	<meta name="msvalidate.01" content="311FB0E2CA9902199189C9D56366BE11" />
	<meta name="wot-verification" content="b0dc897ccb7ab98a0816"/>
	<meta property="og:url" content= <%="#{request.protocol}#{request.host_with_port}#{request.fullpath}" %> />
	<script type="text/javascript">
    var infolinks_pid = 1331313;
    var infolinks_wsid = 0;
	</script>
	<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
                

	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "a429d636-4b52-49c8-96e6-95f2ba2479b9"});</script>
  <title><%=  full_title (yield (@title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35161448-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<%= render "layouts/facebooklike" %>
</head>
<body>
	
    
	<header class= "navber navber-fixed-top" >

		<div class="navbar-inner">
			<%= link_to image_tag("pikcam-logo.png", :class =>"home-logo", :alt => "humorous pictures and lol photos"), root_path, :title => "humorous pictures and lol photos" %>
			<div class="containe">
			
	<ul class="nave pull-right">
		<% unless current_user %>
		<li class="facebook"><%= link_to image_tag("facebook-login.png", :alt => "facebook sign"), "http://www.pikcam.com/auth/facebook"%></li>
		<!--<li class="twitter">twitter coming soon<%# link_to image_tag("twitter.png", :alt => "twitter sign"), '/auth/twitter' %></li>-->
		<% end %>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Explore", categories_path, :class => "big-e" %></li>
		
		<% if current_user %>
			<li id="fat-menu" class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
			<ul class= "dropdown-menu" role="menu" aria-labelledby="dlabel">
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Upload Pic", new_upload_url %></li>
				<li><%= link_to "settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Help lol", help_path %></li>

			</ul>

		<li><%= link_to "Login out", loginout_path %></li>		
		<% else %>
		<li><%= link_to "Sign up", signup_path %></li>
		<li><%= link_to "Login", login_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<% end %>

		</ul>
	</div>
</div>
	
	</header>

	<div class="container-fluid">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
		<div class="simple_overlay"></div>
		<%= yield %>

	<!--<div style="position: absolute; z-index:100">This is in background</div>--> 
    



</div>
<div class="infolink">
<input type="hidden" name="IL_IN_TAG" value="1"/>
</div>
<footer class= "footer">
	<p class="brands"> &#169; Pikcam strange & humorous pictures  </p>
	<ul class="nve pull-lef">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Terms", terms_path %></li>
		<li><%= link_to "Privacy Policy", "/privacy" %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://feeds.feedburner.com/PikcamsFunnyPics" target = "_blank">
        Subscribe
    </a></li>
	</ul>
	<div class="our-link">
          <h4> More of us  </h4>
          <ul class= "frinds-list">
            <li><a href="http://www.donloren.com/" target="_blank" >Donloren</a> | </li>
            <li><a href="http://www.cruisinbro.com/" target="_blank">cruisin bro cool cars</a> | </li>
            <li><a href="http://funnyandhotties.blogspot.com/" target="_blank"> hotties & funny photos </a> | </li>
            <li><a href="http://www.savemefromboredom.com/" title="save me from boredom" target="_black">save me from boredom</a> | </li>
            <li><a href="http://www.meltedbrain.com">melted brain</a> | </li>
            <% links.each do |l| %>
            <li><a href= <%= l.site %>  target="_blank"><%= l.title %></a> | </li>
            <% if can? :destroy, l %>
			    		<%= link_to "<=Destroy", l, :method => :delete, :confirm => "Are you sure" %> 
			    	<% end %>
            <% end %>

          </ul>
          <a href="/link-up">like us</a>
          

        </div>
</footer>

<%# debug(params) if Rails.env.development? %>


</body>
</html>

