<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag  %>
	<meta name="description" content=" find cool pics of just about any thing lol. Share pictures, Explore funny pics, humorous pictures, strange, gif pictures, pics of women & lots more!">
	<meta name="alexaVerifyID" content="XTC9CpixYofHjCaJmi7o5CwcQpA" />
	<meta name="author" content="pikcam">
	<meta name="keywords" content=" pikcam, pics, pic, share, cool pics of, lol, funny, strange, gif, humorous pictures, pictures, gif pictures, picture, pics of women, &, ">
  <title><%=  full_title (yield (@title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35161448-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<%= render "layouts/facebooklike" %>
        
    
	<header class= "navber navber-fixed-top" >

		<div class="navbar-inner">
			<div class="containe">
			<%= link_to image_tag("pikcam-logo.png"), root_path %>
	<ul class="nave pull-right">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Explore", categories_path %></li>
		
		<% if current_user %>
			<li id="fat-menu" class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
			<ul class= "dropdown-menu" role="menu" aria-labelledby="dlabel">
				<li><%= link_to "Profile", current_user %></li>
				<li><%= link_to "Upload Pic", new_upload_url %></li>
				<li><%= link_to "settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Help lol", help_path %></li>

			</ul>

		<li><%= link_to "Login out", loginout_path %></li>		
		<% else %>
		<li><%= link_to "Sign up", signup_path %></li>
		<li><%= link_to "Login", login_path %></li>
		<li><%= link_to "Help", help_path %></li>
		<% end %>

		</ul>
	</div>
</div>
	</header>

	<div class="container-fluid">
		<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
		
		<%= yield %>

	



</div>
<footer class= "footer">
	<p class="brands"> &#169; Pikcam strange & humorous pictures  </p>
	<ul class="nve pull-lef">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Terms", terms_path %></li>
		<li><%= link_to "Privacy Policy", "/privacy" %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
	
</footer>

<%= debug(params) if Rails.env.development? %>


</body>
</html>

